@tailwind base;
@tailwind components;
@tailwind utilities;

/* .border-tweaks{
    border-color: yellow blue red white;
    border-style: solid;
    border-width: 10px 0 10px 40px;
} */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 14px;
    background-color: white;

  }
  
  *::-webkit-scrollbar-thumb {
    background: #31313a;

    border-radius: 14px;
    /* border: 1px solid white; */
  }